.top_container {
    width: auto;
    min-width: 1340px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 0px 2px 0px var(--main_black_03);
}
.logo_img {
    width: 128px;
    height: 32px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.user_container {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}