.container {
  width: 1340px;
  padding: 0px 30px;
  min-width: 1340px;
  height: auto;
  margin: 0 auto;
  margin-top: 15px;
}

/* recipe-title */
.titleContainer {
  margin-top: 40px;
}
.titleInput {
  color: var(--main_black_01);
  font-family: "TheJamsil3Regular_400";
  font-size: 24px;
  line-height: 36px;
  text-indent: 10px;
  width: 480px;
  height: 72px;
  border: none;
  resize: none;
}

/* recipe-title-img */
.titleImgContainer {
  margin: 80px;
  border-radius: 10px;
  background-color: var(--main_black_03)
}